<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão de Jogos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Previsão de Jogos - Campeonato Brasileiro</h1>
        <p><a href="{{ url_for('dashboard') }}" class="button-link">Ir para Home</a></p>

    </header>

    <main>
        <div class="content">
            <h2>Previsão dos Jogos</h2>

            <form method="get" action="">
                <label for="rodada">Filtrar por Rodada:</label>
                <select id="rodada" name="rodada">
                    <option value="">Selecione a Rodada</option>
                    {% for rodada in rodadas %}
                        <option value="{{ rodada }}" {% if rodada == selected_rodada %}selected{% endif %}>Rodada {{ rodada }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </form>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rodada</th>
                        <th>Mandante</th>
                        <th>Visitante</th>
                        <th>Data</th>
                        <th>Placar Previsto Mandante</th>
                        <th>Placar Previsto Visitante</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in previsao_partidas.iterrows() %}
                    <tr>
                        <td>{{ row['Rodada'] }}</td>
                        <td>{{ row['Mandante'] }}</td>
                        <td>{{ row['Visitante'] }}</td>
                        <td>{{ row['Data'] }}</td>
                        <td>{{ row['Placar_Mandante_Previsto'] }}</td>
                        <td>{{ row['Placar_Visitante_Previsto'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Brasileirão Dashboard</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
